<div class="main_container">
    <header>
       <div class="title"><h3>Games Arena</h3></div>
    </header>
    <div class="container">
      <div class="wd_100 display_flex">
        <div class="search-hero">
          <input class="form-control" type="text" name="search" [(ngModel)]="searchSortInput.title"  (input)="searchByName(searchSortInput.title, 'title')"  autocomplete="off" placeholder="&#61442;  Search (By Title)">
          <button type="button" class="btn-default close_icon" (click)="reset();">
            <i class="fa fa-close clear_input" *ngIf="closeIcon"></i>
            </button>
        </div>
        <div>
          <button type="button" class="btn-default" [class.active]="order === 'info.name'"  (click)="setOrder('name')">
             <i class="fa fa-filter filter_icon" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="row">
          <ul class="cards">
            <li class="cards_item" *ngFor="let lists of arrOfLists | orderBy: order:reverse| filter:searchSortInput.title | paginate :config">
              <div class="card {{lists | json}}">
                <div class="card_image">
                <h2>{{lists.title}}</h2>
                <span>{{lists.platform}}</span>
                </div>
                <div class="card_content">
                  <ul class="lists_contents">
                    <li class="">Genre : {{lists.genre}}</li>
                    <li>{{lists.score}}</li>
                  </ul>
                </div>
              </div>
            </li>
        </ul>
      <pagination-controls (pageChange)="pageChanged($event)" previousLabel=" " nextLabel=""></pagination-controls>

      </div>
    </div>

</div>